/* 共用基础 begin */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* 共用基础 end */
/* 导航栏 begin */
.navbar {
    min-height: 70px;
}

.navbar-brand {
    height: 70px;
    padding: 25px 15px;
    line-height: 20px;
}

.navbar-nav li a {
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar-form {
    padding: 10px 15px;
}

.bdSug_app {
    display: none;
}
/* 导航栏 end */

.loading:before {
    content: ' ';
    display: inline-block;
    vertical-align: central;
    width: 32px;
    height: 32px;
    background: url('http://static.savory.cn/images/loading.gif') no-repeat;
}

/* 主体 begin */
.link-group {
    display: block;
    border: 1px #efefef solid;
    padding: 20px;
    box-shadow: 2px 2px 10px #e0e0e0;
    -moz-box-shadow: 2px 2px 10px #e0e0e0;
    margin-bottom: 20px;
}

    .link-group .link-title {
        margin-bottom: 10px;
        border-left: solid 2px;
        padding-left: 20px;
    }

        .link-group .link-title.info {
            border-color: #50b8f5;
        }

    .link-group .link-item {
        display: inline-block;
        margin-left: 20px;
        margin-bottom: 10px;
    }

.popular-group {
    margin-bottom: 20px;
}

    .popular-group .popular-item {
        margin-right: 15px;
        padding: 10px;
        border: 1px solid #eae5e5;
        display: inline-block;
        line-height: 40px;
    }
/* 主体 end */
